.jumbotron {
  text-align: center;
  background: black;
  color: white;
}

.game {
  background: url(../images/chalkboard.jpg);
  color: yellow;
}

#timer {
  text-align: center;
  font-size: 50px;
  color: red;
}

.end {
  text-align: center;
  font-size: 75px;
  background: url(../images/gameover1.jpeg);
  color: yellow;
}